<ion-header no-border>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			Home
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Current Pot</ion-card-subtitle>
			<ion-card-title color="primary">$1000.00</ion-card-title>
		</ion-card-header>
	</ion-card>
	<ion-card>
		<ion-card-header>
			<ion-card-subtitle>Next Drawing</ion-card-subtitle>
			<ion-card-title color="primary">1d 22h 32m 10s</ion-card-title>
		</ion-card-header>
	</ion-card>

	<ion-fab vertical="bottom" horizontal="end" slot="fixed">
		<ion-fab-button color="light">
			<ion-icon name="videocam" color="primary" (click)="playAd()"></ion-icon>
		</ion-fab-button>
	</ion-fab>

<!--	<div class="jumbotron" fxLayout="column">-->
<!--		<div fxFlex></div>-->
<!--		<p fxFlex="20px">Next drawing in:</p>-->
<!--		<p fxFlex="20px" class="countdown">-->
<!--			<b>2 days 21 hours 30 minutes 4 seconds</b>-->
<!--		</p>-->
<!--	</div>-->


</ion-content>
